# WEB SCRAPING – ASSIGNMENT 4

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vipinchi nidhi\anaconda31\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import pandas as pd    #Import pandas for making DataFrame
import selenium        # Import Selenium for scraping
from selenium import webdriver  #import webdriver for opening Web browser from selenium
import warnings   #Import warnings to avoid code warnings to understand
warnings.filterwarnings('ignore') #Ignore the warnings
from selenium.webdriver.common.by import By #import BY from selenium to find elemenets
import time #Import time to delay or sleep for the time for scraping details
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException #Import exceptions
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import SessionNotCreatedException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.chrome.options import Options #Import Options to perform various operations
import requests #Sending HTTPS requests using PYTHON
import re #Matching regular expression

## Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [2]:
#Lets first connect to the driver and open Chrome
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [3]:
#Lets open the Youtube.com Videos from the web page
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [14]:
#Scraping the Rank of each video
Rank=[]
rank = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
for i in rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [15]:
#Scraping the Name of the corresponding video
Name=[]
name = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[2]')
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Wheels on the Bus"[24]',
 '"Uptown Funk"[25]',
 '"Learning Colors – Colorful Eggs on a Farm"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Axel F"[34]',
 '"Sugar"[35]',
 '"Roar"[36]',
 '"Counting Stars"[37]',
 '"Sorry"[38]',
 '"Baa Baa Black Sheep"[39]',
 '"Thinking Out Loud"[40]',
 '"Waka Waka (This Time for Africa)"[41]',
 '"Dark Horse"[42]',
 '"Faded"[43]',
 '"Perfect"[44]',
 '"Lakdi Ki Kathi"[45]',
 '"Let Her Go"[46]',
 '"Girls Like You"[47]',
 '"Humpty the train on a fruits ride"[48]',
 '"Lean On"[49]',
 '"Bailando"[50]']

In [17]:
#Scraping the Artist in the scraped video
Artist=[]
artist = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
for i in artist:
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append('-')
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Cocomelon – Nursery Rhymes',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Crazy Frog',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Shakira',
 'Katy Perry',
 'Alan Walker',
 'Ed Sheeran',
 'Jingle Toons',
 'Passenger',
 'Maroon 5',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Major Lazer',
 'Enrique Iglesias']

In [19]:
#Scraping the uploaded date of the video
Upld_date=[]
udate = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')
for i in udate:
    try:
        Upld_date.append(i.text)
    except NoSuchElementException:
        Upld_date.append('-')
Upld_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'June 25, 2018',
 'October 7, 2014',
 'June 4, 2010',
 'February 20, 2014',
 'December 3, 2015',
 'November 9, 2017',
 'June 14, 2018',
 'July 25, 2012',
 'May 31, 2018',
 'January 26, 2018',
 'March 22, 2015',
 'April 11, 2014']

In [20]:
#Scraping the number of the Views of the video
Views=[]
views = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')
for i in views:
    try:
        Views.append(i.text)
    except NoSuchElementException:
        Views.append('-')
Views

['12.73',
 '8.14',
 '6.69',
 '6.15',
 '5.97',
 '5.86',
 '5.26',
 '5.14',
 '4.89',
 '4.87',
 '4.77',
 '4.55',
 '4.32',
 '3.87',
 '3.86',
 '3.78',
 '3.77',
 '3.65',
 '3.61',
 '3.58',
 '3.56',
 '3.50',
 '3.44',
 '3.42',
 '3.42',
 '3.42',
 '3.40',
 '3.38',
 '3.37',
 '3.37']

In [22]:
#Create DataFrame with the details scraped
DF1=pd.DataFrame({'RANK':Rank,"Name Of The Video":Name,'Uploader':Artist,'Uploaded Date':Upld_date,'Views(in Billions)':Views})
print('***********************List of most-viewed YouTube videos**************************')
DF1

***********************List of most-viewed YouTube videos**************************

,RANK,Name Of The Video,Uploader,Uploaded Date,Views(in Billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

# Q2. Scrape the details team India’s international fixtures from bcci.tv

In [24]:
#Lets first connect to the driver and open the Google Chrome
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [25]:
#Lets open the BCCI.TV from the web page to scrap match details
driver.get("https://www.bcci.tv/")

In [27]:
# Search for International Fixtures and Click on it
search=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [34]:
#Scrap the name of the Match
match=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[3]/div/span[1]')
Match=match.text
# Scraping the name of the series
series=driver.find_element(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
Series=series.text
#Scraping the Venue of the Match
place=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[3]/div/span[2]')
Place=place.text
#Scraping the Date of the match
date=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[1]')
Date=date.text
#Scraping the exact time of start of the match
time=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[2]')
Time=time.text
#Check the lengths of the Matches and all the details
print(len(Match),len(Series),len(Place),len(Date),len(Time),Match,Series,Place,Date,Time)

7 38 16 10 11 Final - ICC WORLD TEST CHAMPIONSHIP FINAL 2023 Kennington Oval, 7 JUN 2023 3:30 PM IST

In [37]:
#Create the Data Frame for the details scraped for the BCCI matches
DF2=pd.DataFrame({'Match Name':[Match],'Series':[Series],'Venue':[Place],'Date':[Date],'Time':[Time]})
DF2

,Match Name,Series,Venue,Date,Time
0,Final -,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"Kennington Oval,",7 JUN 2023,3:30 PM IST

# Q3. Scrape the details of State-wise GDP of India from statisticstime.com

In [2]:
#Lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [3]:
#Lets open the statustucstimes.com from the web page for scraping
driver.get("http://statisticstimes.com/")

In [7]:
# Lets Reach to ECONOMY Page Button and click on it
eco=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()

In [8]:
#Lets click and Open INDIA ECONOMY page for scraping details
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [9]:
#Open GDP of Indian States on a table
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [10]:
Rank=[] # Create an empty list for Scraping Ranks of the state
State=[]  # Create an empty list for Scraping Name of the state
GSDP_1819=[] # Create an empty list for Scraping GSDP for the year 2018-19 of each state
GSDP_1920=[]  # Create an empty list for Scraping GSDP for the year 2019-20 of each state
Share=[]  # Create an empty list for Scraping Share for the year 2018-19 of each state
GDP_Bill=[]  # Create an empty list for Scraping GDP in Billions for the year 2018-19 of each state
#Scraping the RANK
rank = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('-')
#Scraping the STATE NAME
state = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    try:
        State.append(i.text)
    except NoSuchElementException:
        State.append('-')
#Scraping the GSDP Details for the year 2018-19
gsdp_1819 = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp_1819:
    try:
        GSDP_1819.append(i.text)
    except NoSuchElementException:
        GSDP_1819.append('-')
#Scraping the GSDP Details for the year 2019-20
gsdp_1920 = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_1920:
    try:
        GSDP_1920.append(i.text)
    except NoSuchElementException:
        GSDP_1920.append('-')
#Scraping the Share Details for the year 2018-19
share = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    try:
        Share.append(i.text)
    except NoSuchElementException:
        Share.append('-')
#Scraping the GDP in Billions
gdp = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    try:
        GDP_Bill.append(i.text)
    except NoSuchElementException:
        GDP_Bill.append('-')

In [11]:
#Check the length of each of the details scraped
print(len(Rank),len(State),len(GSDP_1819),len(GSDP_1920),len(Share),len(GDP_Bill))

33 33 33 33 33 33

In [12]:
#Create a DataFrame for the scraped details
DF3=pd.DataFrame({'RANK':Rank,"Name Of The STATE":State,'GSDP 18-19':GSDP_1819,'GSDP 19-20':GSDP_1920,'Share 18-19':Share,'GDP in Billions':GDP_Bill})
print('***********************INDIAN STATES BY GSDP**************************')
DF3

***********************INDIAN STATES BY GSDP**************************

,RANK,Name Of The STATE,GSDP 18-19,GSDP 19-20,Share 18-19,GDP in Billions
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q4. Scrape the details of trending repositories on Github.com.

In [13]:
#lets connect with the webdriver
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [14]:
#Lets Open the Github.com web page from Google Chrome
driver.get("https://github.com/")

In [17]:
#Let's find Open source or Explore Options to find Trending Repositories
opn_src=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
opn_src.click()

In [18]:
#Now Open the Trending Repositories by Code
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trend.click()

In [78]:
# Scraping the Name of the repositories
Name=[]
name=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElemenetException:
        Name.append("--")
print(len(Name),Name)

25 ['suno-ai /', 'OpenLMLab /', 'xtekky /', 'sanchit-gandhi /', 'lvwzhen /', 'xtekky /', 'macrozheng /', 'jackfrued /', 'kaqijiang /', 'pengzhile /', 'geekyutao /', 'saeedezzati /', 'sindresorhus /', 'BabylonJS /', 'imClumsyPanda /', 'dataease /', 'TheRamU /', 'l15y /', 'Yidadaa /', 'zhayujie /', 'tamagui /', 'Josh-XT /', 'datawhalechina /', 'BloopAI /', 'Dogtiti /']

In [21]:
#Check the lentgh of the Repositories names
len(Name)

25

In [79]:
#Scrap the URLs of the repositories for scraping exclusive details
rep_url=[]
url=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in url:
    rep_url.append(i.get_attribute("href"))
print(len(rep_url),rep_url)

25 ['https://github.com/suno-ai/bark', 'https://github.com/OpenLMLab/MOSS', 'https://github.com/xtekky/gpt4free', 'https://github.com/sanchit-gandhi/whisper-jax', 'https://github.com/lvwzhen/law-cn-ai', 'https://github.com/xtekky/chatgpt-clone', 'https://github.com/macrozheng/mall', 'https://github.com/jackfrued/Python-100-Days', 'https://github.com/kaqijiang/Auto-GPT-ZH', 'https://github.com/pengzhile/pandora', 'https://github.com/geekyutao/Inpaint-Anything', 'https://github.com/saeedezzati/superpower-chatgpt', 'https://github.com/sindresorhus/awesome', 'https://github.com/BabylonJS/Babylon.js', 'https://github.com/imClumsyPanda/langchain-ChatGLM', 'https://github.com/dataease/dataease', 'https://github.com/TheRamU/Fay', 'https://github.com/l15y/wenda', 'https://github.com/Yidadaa/ChatGPT-Next-Web', 'https://github.com/zhayujie/chatgpt-on-wechat', 'https://github.com/tamagui/tamagui', 'https://github.com/Josh-XT/Agent-LLM', 'https://github.com/datawhalechina/hugging-llm', 'https://github.com/BloopAI/bloop', 'https://github.com/Dogtiti/AutoGPT-Next-Web']

In [80]:
#Scraping the description of the repositories
Desc=[]
desc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
    try:
        Desc.append(i.text)
    except NoSuchElementException:
        Desc.append("__")
print(len(Desc),Desc)

24 ['🔊 Text-Prompted Generative Audio Model', 'An open-source tool-augmented conversational language model from Fudan University', "decentralising the Ai Industry, free gpt-4/3.5 scripts through several reverse engineered api's ( poe.com, phind.com, chat.openai.com, phind.com, writesonic.com, sqlchat.ai, t3nsor.com, you.com etc...)", '⚖️ AI 法律助手', 'ChatGPT interface with better UI', 'mall项目是一套电商系统，包括前台商城系统及后台管理系统，基于SpringBoot+MyBatis实现，采用Docker容器化部署。 前台商城系统包含首页门户、商品推荐、商品搜索、商品展示、购物车、订单流程、会员中心、客户服务、帮助中心等模块。 后台管理系统包含商品管理、订单管理、会员管理、促销管理、运营管理、内容管理、统计报表、财务管理、权限管理、设置等模块。', 'Python - 100天从新手到大师', 'Auto-GPT中文版本及爱好者组织 同步更新原项目 AI领域创业 自媒体组织 用AI工作学习创作变现', '潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT that helps you breathe smoothly.', 'Inpaint anything using Segment Anything and inpainting models.', 'Superpower ChatGPT Chrome Extension', '😎 Awesome lists about all kinds of interesting topics', 'Babylon.js is a powerful, beautiful, simple, and open game and rendering engine packed into a friendly JavaScript framework.', 'langchain-ChatGLM, local knowledge based ChatGLM with langchain ｜ 基于本地知识的 ChatGLM 问答', '人人可用的开源数据可视化分析工具。', 'Fay是一个完整的开源项目，包含Fay控制器及数字人模型，可灵活组合出不同的应用场景：虚拟主播、现场推销货、商品导购、语音助理、远程语音助理、数字人互动、数字人面试官及心理测评、贾维斯、Her。 开源项目，非产品试用！！！', '闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力', 'One-Click to deploy well-designed ChatGPT web UI on Vercel. 一键拥有你自己的 ChatGPT 网页服务。', 'Wechat robot based on ChatGPT, which using OpenAI api and itchat library. 使用ChatGPT搭建微信聊天机器人，基于GPT3.5/4.0 API和itchat实现，能处理文本、语音和图片，访问操作系统和互联网。', 'a better universal ui system', 'An Artificial Intelligence Automation Platform. AI Instruction management from various providers, has an adaptive memory, and a versatile plugin system with many commands including web browsing. Supports many AI providers and models and growing support every day.', 'HuggingLLM, Hugging Future.', 'bloop is a fast code search engine written in Rust.', '🤖 Assemble, configure, and deploy autonomous AI Agents in your browser.一键免费部署你的私人AutoGPT 网页应用']

In [ ]:
#Scrap the number of the contributors from each URL individually
Contributors=[]
for i in rep_url:
    driver.get(i)     #Obtain the URL from rep_url
    time.sleep(2)
    cont=driver.find_elements(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span')
    for i in cont:
        try:
            Contributors.append(i.text)   #append the data of contributors number
        except NoSuchElemenetException:
            Contributors.append("__")
print(len(Contributors),Contributors) #Check the length and print the number of contributors

In [92]:
#Scrap the Ratings of the Repositories
Ratings=[]
rating=driver.find_elements(By.XPATH,'//span[@ class="d-inline-block float-sm-right"]')
for i in rating:
    try:
        Ratings.append(i.text.replace("stars today",""))
    except NoSuchElemenetException:
        Ratings.append("__")
print(len(Ratings),Ratings)

25 ['2,094 ', '1,011 ', '1,270 ', '232 ', '437 ', '211 ', '200 ', '219 ', '196 ', '365 ', '219 ', '237 ', '272 ', '185 ', '211 ', '145 ', '227 ', '154 ', '451 ', '199 ', '238 ', '180 ', '213 ', '373 ', '125 ']

In [91]:
#Scraping the number of the languages used and implemented in the Repository
Languages=[]
lang=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lang:
    if i.text is None:
        Languages.append("__")
    else:
        Languages.append(i.text)
print(len(Languages),Languages)

24 ['Python', 'Python', 'Python', 'Python', 'TypeScript', 'Python', 'Java', 'Python', 'Python', 'Python', 'Jupyter Notebook', 'JavaScript', 'TypeScript', 'Python', 'Java', 'JavaScript', 'CSS', 'TypeScript', 'Python', 'TypeScript', 'Python', 'Jupyter Notebook', 'TypeScript', 'TypeScript']

In [94]:
#Make the scraped details into a list for easy DataFrames
data=list(zip(Name,rep_url,Desc,Languages,Ratings))
#Create a DataFrame of the details scraped and display them
DF4=pd.DataFrame(data,columns=["Repository Name","Repository URL","Repository Description","Languages Used","Star Count"])
DF4

,Repository Name,Repository URL,Repository Description,Languages Used,Star Count
0,suno-ai /,https://github.com/suno-ai/bark,🔊 Text-Prompted Generative Audio Model,Python,"2,094"
1,OpenLMLab /,https://github.com/OpenLMLab/MOSS,An open-source tool-augmented conversational l...,Python,"1,011"
2,xtekky /,https://github.com/xtekky/gpt4free,"decentralising the Ai Industry, free gpt-4/3.5...",Python,"1,270"
3,sanchit-gandhi /,https://github.com/sanchit-gandhi/whisper-jax,⚖️ AI 法律助手,Python,232
4,lvwzhen /,https://github.com/lvwzhen/law-cn-ai,ChatGPT interface with better UI,TypeScript,437
5,xtekky /,https://github.com/xtekky/chatgpt-clone,mall项目是一套电商系统，包括前台商城系统及后台管理系统，基于SpringBoot+MyB...,Python,211
6,macrozheng /,https://github.com/macrozheng/mall,Python - 100天从新手到大师,Java,200
7,jackfrued /,https://github.com/jackfrued/Python-100-Days,Auto-GPT中文版本及爱好者组织 同步更新原项目 AI领域创业 自媒体组织 用AI工作学...,Python,219
8,kaqijiang /,https://github.com/kaqijiang/Auto-GPT-ZH,"潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT that h...",Python,196
9,pengzhile /,https://github.com/pengzhile/pandora,Inpaint anything using Segment Anything and in...,Python,365
10,geekyutao /,https://github.com/geekyutao/Inpaint-Anything,Superpower ChatGPT Chrome Extension,Jupyter Notebook,219
11,saeedezzati /,https://github.com/saeedezzati/superpower-chatgpt,😎 Awesome lists about all kinds of interesting...,JavaScript,237
12,sindresorhus /,https://github.com/sindresorhus/awesome,"Babylon.js is a powerful, beautiful, simple, a...",TypeScript,272
13,BabylonJS /,https://github.com/BabylonJS/Babylon.js,"langchain-ChatGLM, local knowledge based ChatG...",Python,185
14,imClumsyPanda /,https://github.com/imClumsyPanda/langchain-Cha...,人人可用的开源数据可视化分析工具。,Java,211
15,dataease /,https://github.com/dataease/dataease,Fay是一个完整的开源项目，包含Fay控制器及数字人模型，可灵活组合出不同的应用场景：虚拟主...,JavaScript,145
16,TheRamU /,https://github.com/TheRamU/Fay,闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力,CSS,227
17,l15y /,https://github.com/l15y/wenda,One-Click to deploy well-designed ChatGPT web ...,TypeScript,154
18,Yidadaa /,https://github.com/Yidadaa/ChatGPT-Next-Web,"Wechat robot based on ChatGPT, which using Ope...",Python,451
19,zhayujie /,https://github.com/zhayujie/chatgpt-on-wechat,a better universal ui system,TypeScript,199
20,tamagui /,https://github.com/tamagui/tamagui,An Artificial Intelligence Automation Platform...,Python,238
21,Josh-XT /,https://github.com/Josh-XT/Agent-LLM,"HuggingLLM, Hugging Future.",Jupyter Notebook,180
22,datawhalechina /,https://github.com/datawhalechina/hugging-llm,bloop is a fast code search engine written in ...,TypeScript,213
23,BloopAI /,https://github.com/BloopAI/bloop,"🤖 Assemble, configure, and deploy autonomous A...",TypeScript,373

# Q5. Scrape the details of top 100 songs on billiboard.com.

In [98]:
#Connect to the Driver and open the Google Chrome Web page
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [99]:
# Obtain the website and open it on the Chrome
driver.get("https:/www.billboard.com/")

In [101]:
#find the Chart and click to open to find the details under the tab
chart=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
chart.click()

In [105]:
#Obtain the Hot_100 songs list from the options
hot_100=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
hot_100.click() #Click on the same to open the tab

In [112]:
song=[]      # Creating an empty list for the song
artist=[]    # Create an empty list for scraping the artist of the song
last_week=[] # Create an empty list for scraping the ranking in the previous week
peak=[]      # create an Empty List for scraping the peak rank in the entire career
board=[]     # Create an empty list for obtaining the details for how many weeks on leader board
#Find the table and import for scraping the details
disp=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in disp:
    song.append(i.text.split('\n')[1])       # Scraping Song details
    artist.append(i.text.split('\n')[2])     # Scraping the artist details 
    last_week.append(i.text.split('\n')[3])  # Scaping the ranking in the last week
    peak.append(i.text.split('\n')[4])       # Scraping the peak rank
    board.append(i.text.split('\n')[5])      # Scraping the number of weeks on leader board
# Check the lengths of all the details scraped for creating DataFrame
print(len(song),len(artist),len(last_week),len(peak),len(board))

100 100 100 100 100

In [113]:
DF5=pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':last_week,'Peak Rank':peak,'Weeks on Board':board})
DF5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,NEW,Princess Diana,Ice Spice & Nicki Minaj,-,4
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,NEW,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99
99,NEW,It Matters To Her,Scotty McCreery,-,100

# Q6 Scrape the details of Highest sellingnovels

In [114]:
# Connect to the Driver and open Chrome web page
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [116]:
#Open website theguardian.com for scraping the necessary details
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [117]:
Book=[]     # Empty list for Book Name
Author=[]   # List for Author Name
Volume=[]   # List for the number of volumes sold
Pub=[]      # List for name of the publishers
Genre=[]    # List for Genre
# Scraping the details of the Book Name
book = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
for i in book:
    try:
        Book.append(i.text)
    except NoSuchElementException:
        Book.append('-')
# Scraping the details of the Author Name
author = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
for i in author:
    try:
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
# Scraping the details of the number of volumes sold
volume = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
for i in volume:
    try:
        Volume.append(i.text)
    except NoSuchElementException:
        Volume.append('-')
# Scraping the details of the publisher names
pub = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]')
for i in pub:
    try:
        Pub.append(i.text)
    except NoSuchElementException:
        Pub.append('-')
# Scraping the details of the Book Genre
genre = driver.find_elements(By.XPATH,'//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]')
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
#Check the lengths of the all scraped details
print(len(Book),len(Author),len(Volume),len(Pub),len(Genre))

100 100 100 100 100

In [118]:
#Create a DataFrame for the details scraped
DF6=pd.DataFrame({'Book Name':Book,'Author Name':Author,'Volumes Sold':Volume,'Publishers':Pub,'GENRE':Genre})
DF6

,Book Name,Author Name,Volumes Sold,Publishers,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7. Scrape the details most watched tv series of all time from imdb.com

In [119]:
# Connect to the Driver and open Chrome web page
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [120]:
#Open website imdb.com for scraping the necessary details
driver.get("https://www.imdb.com/list/ls095964455/")

In [124]:
Name=[] # Name of the TV Series
Year= []  # Year of broadcasting
Genre= []  #Genre of the TV Show
Run= []   # Run Time Length of the TV Show
Ratings= []  # Ratings given for the TV Show
Votes= []  # Votes obtained by the TV Show
# Scraping the Name of the TV Series
name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
# Scraping the Year of broadcasting
year = driver.find_elements(By.XPATH,'//span[@ class="lister-item-year text-muted unbold"]')
for i in year:
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append('-')
# Scraping the Genre of the TV Show
genre = driver.find_elements(By.XPATH,'//span[@ class="genre"]')
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
# Scraping the Run Time Length of the TV Show
run = driver.find_elements(By.XPATH,'//span[@ class="runtime"]')
for i in run:
    try:
        Run.append(i.text)
    except NoSuchElementException:
        Run.append('-')
 # Scraping the Ratings given for the TV Show
rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating:
    try:
        Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append('-')
 # Scraping the Votes obtained by the TV Show
votes = driver.find_elements(By.XPATH,'//span[@ name="nv"]')
for i in votes:
    try:
        Votes.append(i.text)
    except NoSuchElementException:
        Votes.append('-')
#Check the lengths of the all scraped details
print(len(Name),len(Year),len(Genre),len(Run),len(Ratings),len(Votes))

100 100 100 100 100 100

In [125]:
#Checking the ratings for re-verification
Ratings

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.5',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.5',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.7',
 '8.7',
 '7.3',
 '8.3',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.2',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.6',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7',
 '8.6']

In [127]:
#Create a DataFrame for the details scraped
DF7=pd.DataFrame({'Name of The Movie':Name,'Year Span':Year,'Genre of the Film':Genre,'Run Time Length':Run,'Ratings of the Movie':Ratings,'Votes Recieved':Votes})
DF7

,Name of The Movie,Year Span,Genre of the Film,Run Time Length,Ratings of the Movie,Votes Recieved
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,153,089"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,222"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,022,749"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,002"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"259,915"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,382"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,425"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,788"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,928"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,358"

# Q8. Details of Datasets from UCI machine learning repositories.

In [128]:
# Connect to the Driver and open Chrome web page
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [129]:
#Open website https://archive.ics.uci.edu/ for scraping the necessary details
driver.get("https://archive.ics.uci.edu/")

In [130]:
#Search and open the data table on the given web page
data=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
data.click()

In [131]:
Name=[]      # List for the name of the Data Set
DataType=[]  # List for storing the DataSet Type
Task=[]      # List for identifying the Task
Attr_type=[] # List for the Type of the Attribute
Instance=[]  # List for the Instance of the Attribute
Attr=[]     # List for the name of the Attribute
Year=[]     # List for the year of the Data Set
#Scraping the name of the Datasets
name = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
#Scraping the Data Type of the Data Set
datatype = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
for i in datatype:
    try:
        DataType.append(i.text)
    except NoSuchElementException:
        DataType.append('-')
#Scraipng the Attribute Task for the Data Sets
task = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
for i in task:
    try:
        Task.append(i.text)
    except NoSuchElementException:
        Task.append('-')
#Scraping the type of the Attributes
attr_type = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
for i in attr_type:
    try:
        Attr_type.append(i.text)
    except NoSuchElementException:
        Attr_type.append('-')
#scraping the Instances of each Attirbutes
instance = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
for i in instance:
    try:
        Instance.append(i.text)
    except NoSuchElementException:
        Instance.append('-')
#Scraping the Attributes in the Data Sets
attr = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
for i in attr:
    try:
        Attr.append(i.text)
    except NoSuchElementException:
        Attr.append('-')
#Scraping the year of the Data Set
year = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
for i in year:
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append('-')
#Check the lengths of the all scraped details
print(len(Name),len(DataType),len(Task),len(Attr_type),len(Instance),len(Attr),len(Year))

623 623 623 623 623 623 623

In [133]:
#Create a DataFrame for the details scraped
DF8=pd.DataFrame({'Dataset Name':Name[1:623],'Data Types':DataType[1:623],'Dafault Task':Task[1:623],'Attribute Types':Attr_type[1:623],'Instances':Instance[1:623],'Attributes':Attr[1:623],'Year':Year[1:623]})
DF8

,Dataset Name,Data Types,Dafault Task,Attribute Types,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

# Q9. Scrape the details of Data science recruiters

In [9]:
# Connect to the Driver and open Chrome web page
driver=webdriver.Chrome(r"C:\Users\Vipinchi Nidhi\Downloads\chromedriver.exe")

In [10]:
#Open website www.naukri.com/hr-recruiters-consultants for scraping the necessary details
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [8]:
# Find the element HR to search the recruiters page
hr=driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/div/div/div/div[2]/div/div/div/div[2]/a[5]/span')
hr.click()

In [15]:
# Enter Data Science term in the search place
search=driver.find_element(By.XPATH,'//*[@id="skill"]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [17]:
#Click on the search button to find all the details
search_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_button.click()

In [18]:
Name=[]         # List for appending the details of the recruiter
Designation=[]   # List for Desingtaion of the recruiter
Company=[]      # List for scraping the company of the recruiter
Location=[]    # List for the location of a Recruiter
Skills=[]     # List for scraping skills for the job
#Scraping the name of the recruiter
name = driver.find_elements(By.XPATH,'//a[@ class="ellipsis"][1]')
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
#Scraping the Designtaion of the recruiter
designation = driver.find_elements(By.XPATH,'//span[@ class="ellipsis clr"]')
for i in designation:
    try:
        Designation.append(i.text)
    except NoSuchElementException:
        Designtaion.append('-')
#Scraping the Company of the recruiter
company = driver.find_elements(By.XPATH,'//a[@ class="ellipsis"][2]')
for i in company:
    try:
        Company.append(i.text)
    except NoSuchElementException:
        Company.append('-')
#Scraping the Location of the recruiter
location = driver.find_elements(By.XPATH,'//small[@ class="ellipsis"]')
for i in location:
    try:
        Location.append(i.text)
    except NoSuchElementException:
        Location.append('-')
#Scraping the Skills required for the job
skill = driver.find_elements(By.XPATH,'//div[@ class="hireSec highlightable"]')
for i in skill:
    try:
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
#Check the lengths of the all scraped details
print(len(Name),len(Designation),len(Company),len(Location),len(Skills))

50 50 50 49 50

In [19]:
#Create a DataFrame for the details scraped
data=list(zip(Name,Designation,Company,Location,Skills))
DF9=pd.DataFrame(data,columns=["Name of The Recruiter","Designation","Company","Location of the Company","Skills They Hire For"])
DF9

,Name of The Recruiter,Designation,Company,Location of the Company,Skills They Hire For
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
14,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Mumbai,"Data Science, Python, Data Analytics"
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,Gurgaon,"Research, Digital Marketing, Analytics, Softwa..."
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
29,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Bengaluru / Bangalore,"Web Technologies, Project Management, Software..."
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,Noida,"Server Administartion, Verilog, Vhdl, Digital ..."
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,Mysoru / Mysore,"Data Science, Machine Learning, Deep Learning,..."
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading..."
35,Avodha,Business Development Associate,Nikitha Palaparthi,Bengaluru / Bangalore,"Ethical Hacking, Security Operations Center, S..."
36,Priya Khare,Senior Manager,Independent Consultant,New Delhi,"Data Science, Artificial Intelligence, analyti..."
37,Amit Sharma,Consultant,ASCO consulting,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
38,Kanan,senior technology instructor,NY INST,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Salt Lake City,"Relationship Management, Retail Sales, Private..."
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,Pune,"Data Science, Software Engineering"
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai,"Data Science, Recruitment, Salary"
43,Ankit Sinha,Head Analytics,Suntech Global,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,MYSORE,"Data Science, Node.js, Angularjs"
46,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
48,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."

# End of Web Sccraping Assignment - 4